.DS_Store
node_modules/
dist/
CRM.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*
笔记.txt

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode
mobile-crm.iml
package-lock.json
