/** 变量 **/

//文字颜色
$red-font: #e73636; //红色
$blue-font: #2e92d8; //蓝色
$orange-font: #fb7551; //橙色
$green-font:#70da1a; //绿色
$normal-font: #4d4d4d; //正常文字颜色
$light-font: #666; //浅灰色
$gray-font: #b7b7b7; //灰色
$disabled-font: #bfbfbf; //禁用时文字颜色
//按钮颜色
$red-btn: #e60122; //红色
$blue-btn: #2e92d8; //蓝色
$gray-btn: #808080; //灰色
//背景颜色
$red-bg: #e73636; //红色
$orange-bg: #fb7551; //橙色
$gray-bg: #f8f8fa; //灰色
$disabled-bg: #f6f6f6; //禁用色
$backdrop-bg: rgba(0, 0, 0, 0.4); //半透明蒙层
//边框颜色
$gray-border: #ddd; //浅色边框
$light-border: #bbb; //较深色边框
//尺寸
$border-radius: 0.3rem; //圆角
$border-radius2: 0.6rem; //大圆角
$border-radius9: 10rem; //椭圆圆角

//各种默认
$btn-bg: $orange-bg; //按钮默认背景色
$header-bg: $orange-bg; //标题栏默认背景色
$footer-bg: #fff; //标签栏栏默认背景色
$radio-selected: $orange-bg; //单选框选中时的颜色