/** 基础样式 **/
@import "_fonts.css";
@import "variable";
@import "mixin";
@import "common";

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent; //去掉点击阴影
}

html {
    height: 100%;
    -webkit-user-select: none; //不能选中文本
}

body {
    height: 100%;
    overflow: hidden;
    background-color: $gray-bg;
}

a {
    text-decoration: none;
}

.mask_div{
    background: url('../../common/images/logo.png') no-repeat scroll right 5px;
    background-size: 10%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: normal;
}

input,
button,
textarea {
    font: 1rem Arial;
    -webkit-appearance: none; //去掉默认样式
}
textarea {
    line-height:1.3;
    resize: none;
}

ol,
ul {
    list-style: none;
}

.ui-disabled,
[disabled] {
    //禁用的元素，不允许点击
    pointer-events: none;
}

*::-webkit-scrollbar {
    //滚动条
    width: 0;
    height: 0;
}

a[class^="icon-"],
a[class*=" icon-"] {
    //图标文字若用a标签，则自动增加内边距
    padding: 0.5rem;
}
